{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contacto</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
  <link rel="stylesheet" href="{% static 'css/menu.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'promociones' %}">Promociones</a>
    <a href="{% url 'galeria' %}">Galeria</a>
    <a href="{% url 'registro' %}" >Registro</a>
    <a href="{% url 'contacto' %}" class="active">Contacto</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Salir</a>
    {% else %}
       <a href="{% url 'login' %}">Login</a>
    {% endif %}
    {% if request.user.is_superuser %}
      <a href="../admin/" style="color: yellow;">Admin panel</a>
      <a href="{% url 'autoregistro' %}">Registrar auto</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
  <div class="contactobox">
      <p class="avatar"><img src="{% static 'img/correo.png' %}" alt="logo"></p>
      <h1>Contacto </h1>
      <form>
      <label id="Nombre">Nombre de usuario</label>
      <input type="text" placeholder="Ingrese Nombre de usuario" required>                 
      <label id="mail">Email</label>
      <input type="text" placeholder="Ingrese su correo" required>
      <label id="mensaje">Mensaje</label>
      <textarea id="mensajes" placeholder="Ingrese su mensaje" required></textarea>
      <button type="submit" id="btn">Enviar</button>
      </form>
      </div>
</body>
</html>