{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rent Car</title>
</head>
<body>
    <div class="topnav" id="myTopnav">
      <a href="{% url 'inicio' %}">Inicio</a>
      <a href="{% url 'promociones' %}">Promociones</a>
      <a href="{% url 'galeria' %}">Galeria</a>
      <a href="{% url 'registro' %}" >Registro</a>
      <a href="{% url 'contacto' %}" class="active">Contacto</a>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Salir</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
      {% if request.user.is_superuser %}
        <a href="../admin/" style="color: yellow;">Admin panel</a>
        <a href="{% url 'autoregistro' %}">Registrar auto</a>
      {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i></a>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
    <!-- MAIN (Center website) -->
<div class="main">
    <h1>Galeria</h1>
    <strong>En esta galeria, damos a conocer cada uno de los autos que nosotros tenemos disponibles para su renta, esto varia dependiendo
        del modelo, los dias, y promocion que tome cada cliente, de esta forma esperamos entregar el mejor servicio.</strong>
    <!-- Portfolio Gallery Grid -->
    <div class="row">
        {% for auto in autos %}
          {% if auto.stock %}
            <div class="column">
              <div class="content">
                  <img src="http://127.0.0.1:8000/media/{{ auto.imagen }}" alt="" style="width:100%">
                  <h3>{{ auto.marca }} </h3>
                  <p>{{ auto.modelo }} {{ auto.anio }}</p>
              </div>
            </div>  
          {% endif %}
        {% endfor %}
    </div>
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-auto1.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Lamborghini </h3>
          <p>Spyder Huracan Evo 2019</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-auto2.jpg' %}" alt="Lights" style="width:100%">
          <h3>Maserati</h3>
          <p>2017 GranCabrio MC</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-3.jpg' %}" alt="Nature" style="width:100%">
          <h3>Maserati</h3>
          <p>2017 GranTurismo Sport</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-4.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Lamborghini</h3>
          <p>2018-19 Widebody Aerodynamik-Kit</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-5.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Mercedes-Benz</h3>
          <p>2017 Vision Mercedes-Maybach 6 Cabriolet</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-6.jpg' %}" alt="Mountains" style="width:100%">
          <h3>BUGATTI</h3>
          <p>2014 Mansory Veyron Linea Vivere</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-7.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Bmw Serie 6</h3>
          <p> 2019 BMW 6 Series Interior azul</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-8.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Porsche Boxster Spyder</h3>
          <p> 3er generación de Porsche 718 Spyder con 420 CV</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-9.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Lincoln</h3>
          <p>2018 Navigator L Black Label</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-10.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Rolls-Royce</h3>
          <p>2017 Dawn in Fuxia</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-11.jpg' %}" alt="Mountains" style="width:100%">
          <h3>Ferrari</h3>
          <p>2017 488 Challenge</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="{% static 'img/img-12.jpg' %}" alt="Mountains" style="width:100%">
          <h3>McLaren</h3>
          <p>2015-16 540C Coupe</p>
        </div>
      </div>
    </div>
    <!-- END MAIN -->
  </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>Contacto: +569 23 34 7643</p>
                <p>Facebook: Rent Car</p>
                <p>Instagram: RentCar_Oficial</p>
                <p>Mail: Rentcar@rent.com
                <a href="Mail:rentcar@rent.com"></a>
                </p>
        </div>
            <div class="col-sm-12 col-md-6" style="margin-top:20px;">
                <img id= "imgLogo1" src="{% static 'img/whatsapp.png' %}" alt="logo rent car" />
                <img id= "imgLogo2" src="{% static 'img/facebook.png' %}" alt="logo rent car" />
                <img id= "imgLogo3" src="{% static 'img/instagram.png' %}" alt="logo rent car" />
                <img id= "imgLogo4" src="{% static 'img/correo.png' %}" alt="logo rent car" />
            </div>
        <p>
            &copy;Todos los derechos reservados a Rent Car - Desarollo Web y Mobile
        </p>
        </div>
    </div>
</footer>
</body>
</html>