{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'promociones' %}">Promociones</a>
        <a href="{% url 'galeria' %}">Galeria</a>
        <a href="{% url 'registro' %}" >Registro</a>
        <a href="{% url 'contacto' %}" >Contacto</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Salir</a>
        {% else %}
            <a href="{% url 'login' %}" class="active">Login</a>
        {% endif %}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
    <div class="loginbox">
        <p class="avatar"><img src="{% static 'img/1.jpg' %}" alt="logo"></p>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <label id="username">Nombre de usuario </label>
            {{ form.username }}
            <label id="password">Contraseña</label>
            {{ form.password }}
            <input type="submit" value="iniciar sesion">
            <a href="#"> Perdi mi contraseña</a>
            <a href="{% url 'nocuenta' %}">No tengo cuenta</a>   

            {% block content %}
                {% if user.is_authenticated %}
                Hi {{ user.username }}!
                    <p><a href="{% url 'logout' %}">logout</a></p>
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">login</a>
                {% endif %}
            {% endblock %}        
                        
        </form>
    </div>
</body>
</html>