body{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
    }

.loginbox{
    width: 320px;
    height: 652px;
    background: #000;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
    
.loginbox h1{
    color: white;
}
    .loginbox avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50%);
    }
    
    .loginbox h1 {
        text-align: center;
        font-size: 22px; 
    }
    
    .loginbox label{
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
        color: white;
    }
    
    .loginbox input{
        width: 100%;
        margin: 10px;
    }
    
    .loginbox input [type="text"],
    .loginbox input[type="password"]{
        border: none;
        border-bottom: 1px solid #fff;
    }
	
	a {
		color: rgba(14, 1, 1, 0.5);
	}
	
.avatar{
	text-align: center;
}

img{
	width:80px;
}

.loginbox submit{
    color: red;
}
